In [1]:
import os
import pandas as pd
import requests
import gmaps

from config import g_key

In [2]:
file_to_load = os.path.join("data", "WeatherPy_Database.csv")
city_data_df = pd.read_csv(file_to_load)
city_data_df

,City_ID,City,Cloudiness,Country,Current Description,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
0,0,port elizabeth,0,ZA,clear sky,77,-33.92,25.57,59.00,0.00,0,12.75
1,1,fairbanks,90,US,overcast clouds,72,64.84,-147.72,64.40,0.00,0,9.17
2,2,bonga,100,ET,moderate rain,91,7.28,36.23,58.48,2.26,0,2.37
3,3,yellowknife,20,CA,few clouds,52,62.46,-114.35,73.00,0.00,0,11.41
4,4,nelson bay,90,AU,overcast clouds,100,-32.72,152.15,51.01,0.00,0,5.82
...,...,...,...,...,...,...,...,...,...,...,...,...
522,522,tartus,0,SY,clear sky,78,34.89,35.89,71.60,0.00,0,4.70
523,523,berberati,91,CF,light rain,98,4.26,15.79,69.12,0.64,0,2.17
524,524,birjand,0,IR,clear sky,28,32.87,59.22,68.00,0.00,0,14.36
525,525,lixourion,0,GR,clear sky,71,38.20,20.43,72.48,0.00,0,11.18
526,526,alice springs,0,AU,clear sky,36,-23.70,133.88,44.60,0.00,0,6.93

In [3]:
city_data_df.dtypes

City_ID                  int64
City                    object
Cloudiness               int64
Country                 object
Current Description     object
Humidity                 int64
Lat                    float64
Lng                    float64
Max Temp               float64
Rain (inches)          float64
Snow (inches)            int64
Wind Speed             float64
dtype: object

In [4]:
# configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# Enter max temperature critiera
min_temp = float((input("What is the minimum temperature you would like for your vacation?")))
max_temp = float((input("What is the maximum temperature you would like for your vacation?")))

What is the minimum temperature you would like for your vacation?0
What is the maximum temperature you would like for your vacation?50

In [6]:
# Ask the customer if you want it to be raining
rain_amount = input("Do you want it to be raining? (yes/no)")

Do you want it to be raining? (yes/no)no

In [7]:
# Ask the customer if you want it to be raining
snow_amount = input("Do you want it to be snowing? (yes/no)")

Do you want it to be snowing? (yes/no)no

In [8]:
if rain_amount == "no" and snow_amount == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] == 0) &
                                          (city_data_df["Snow (inches)"] == 0)]
elif rain_amount == "no" and snow_amount == "yes":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] == 0) &
                                          (city_data_df["Snow (inches)"] > 0.0)]
elif rain_amount == "yes" and snow_amount == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] > 0.0) &
                                          (city_data_df["Snow (inches)"] == 0)]
else:
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] > 0.0) &
                                          (city_data_df["Snow (inches)"] > 0.0)]

In [9]:
filtered_cities_df.head()

,City_ID,City,Cloudiness,Country,Current Description,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
5,5,ushuaia,75,AR,shower rain,95,-54.80,-68.30,32.00,0.0,0,6.93
8,8,pevek,10,RU,clear sky,70,69.70,170.31,44.08,0.0,0,4.41
15,15,xining,0,CN,clear sky,78,36.62,101.77,48.83,0.0,0,2.28
24,24,aklavik,90,CA,overcast clouds,81,68.22,-135.01,46.40,0.0,0,8.05
31,31,grindavik,75,IS,broken clouds,81,63.84,-22.43,50.00,0.0,0,18.34

In [10]:
filtered_cities_df.count()

City_ID                68
City                   68
Cloudiness             68
Country                68
Current Description    68
Humidity               68
Lat                    68
Lng                    68
Max Temp               68
Rain (inches)          68
Snow (inches)          68
Wind Speed             68
dtype: int64

In [11]:
filtered_cities_df = filtered_cities_df.dropna()
filtered_cities_df.count()

City_ID                68
City                   68
Cloudiness             68
Country                68
Current Description    68
Humidity               68
Lat                    68
Lng                    68
Max Temp               68
Rain (inches)          68
Snow (inches)          68
Wind Speed             68
dtype: int64

In [12]:
hotel_df = filtered_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

         City Country  Max Temp Current Description    Lat     Lng Hotel Name
5     ushuaia      AR     32.00         shower rain -54.80  -68.30
8       pevek      RU     44.08           clear sky  69.70  170.31
15     xining      CN     48.83           clear sky  36.62  101.77
24    aklavik      CA     46.40     overcast clouds  68.22 -135.01
31  grindavik      IS     50.00       broken clouds  63.84  -22.43

In [13]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotels = requests.get(base_url, params=params).json()
    #print(hotels)
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except IndexError:
        print("Hotel Not Found... Skipping...")

Hotel Not Found... Skipping...
Hotel Not Found... Skipping...
Hotel Not Found... Skipping...
Hotel Not Found... Skipping...
Hotel Not Found... Skipping...
Hotel Not Found... Skipping...
Hotel Not Found... Skipping...
Hotel Not Found... Skipping...
Hotel Not Found... Skipping...
Hotel Not Found... Skipping...

In [14]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,ushuaia,AR,32.00,shower rain,-54.80,-68.30,Albatros Hotel
8,pevek,RU,44.08,clear sky,69.70,170.31,Severnoye Zoloto
15,xining,CN,48.83,clear sky,36.62,101.77,Super Leisure Hotel
24,aklavik,CA,46.40,overcast clouds,68.22,-135.01,Aklavik Inn
31,grindavik,IS,50.00,broken clouds,63.84,-22.43,Northern Light Inn & Max's Restaurant

In [15]:
output_data_file = os.path.join("data", "WeahterPy_Vacation.csv")
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
file_to_load = os.path.join("data", "WeahterPy_Vacation.csv")
vacation_df =pd.read_csv("data/WeahterPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,ushuaia,AR,32.00,shower rain,-54.80,-68.30,Albatros Hotel
1,8,pevek,RU,44.08,clear sky,69.70,170.31,Severnoye Zoloto
2,15,xining,CN,48.83,clear sky,36.62,101.77,Super Leisure Hotel
3,24,aklavik,CA,46.40,overcast clouds,68.22,-135.01,Aklavik Inn
4,31,grindavik,IS,50.00,broken clouds,63.84,-22.43,Northern Light Inn & Max's Restaurant

In [17]:
# Using the template to add hotel marks to heat map
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dt>
<dt>Current Weather</dt><dd>{Current Description} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [21]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
png_to_save = os.path.join("image", "WeatherPy_vacation_map.png")